* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, -apple-system, sans-serif;
  color: #333333;
}

html,
body {
  max-width: 90%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 2560px;
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #ffffff,
    #ffefba
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
